
#meeting {
    background-color: #779C4F;
    color:#0a2233;
    text-align: center;
    margin: 0 auto 5px;
    border-radius: 1em;
}

body {
    font-family: 'Raleway', Helvetica;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: 100px 70px;
    background-color:#0a2233;
    color:#F0ECD1;
}

#chamLogo {
    height: 90px;
    width: 90px;
    padding: 5px;
    border-radius: 3em;
}

#footLogo {
    height: 100px;
    width: 100px;
    padding: 5px;
    border-radius: 3.5em;
}

#lnkin{
    height: 50px;
    border-radius: 2em;
    padding: 5px;
}

#facebk {
    height: 50px;
    border-radius: 2em;
    padding: 5px;
}

.title {
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    height: auto;
    text-align: center;
}


#topDate {
    grid-column: 1/4;
    grid-row: 2;
    height: 75%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:#245375;
    color:#F0ECD1;
    text-shadow: 1px 1px 2px #0a2233;
    border-radius: 2em;
}

nav {
    background-color: #5a4834;
    margin: 0;
    max-width: 100%;
    text-align: center;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color:#F0ECD1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

nav ul.open {
    display: block;
    background-color: #5a4834;
    margin: 0;    
}

nav ul li a {
    display: block;
    padding: .8rem .2vw;
    text-decoration: none;
    color: #F0ECD1;
    border-top: 1px solid rgba(0,0,0,0.5);
}

.socMed {
    margin: 0;
    border-color: rgba(0,0,0,0.5);
    border-bottom: #000000;
    border-left: #000000;
    border-right: #000000;
}

nav ul li a:hover {
    background-color: #779C4F;
    color: #0a2233
}

main {
    border: 1px solid #F0ECD1;
    background-color: #F0ECD1;
    max-width: 100%;
}

main div {
    text-align: center;
}

main div h2 {
    text-shadow: 0px 0px 5px #000000;
}

main div h3 {
    text-shadow: 0px 0px 5px #5a4834;

}

main div p {
    padding: 5px;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#hero h1 {
    background-color: rgba(0,0,0,0.6);
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
    font-size: 1.6rem;
    padding: 10px;
}

#heroButton {
    background-color: #F0ECD1;
    text-decoration: none;
    color: #0a2233;
    padding: 10px;
    border-radius: 2em;
    box-shadow: 0px 0px 10px #000000;
    grid-column: 4;
    grid-row: 2;
    max-width: fit-content;
    height: max-content;
}

#hero a:hover {
    background-color: #779C4F;
    color: #0a2233;
}

div {
    margin: 10px;
    background-color: #5a4834;
    border: 1px solid black;
    color: #F0ECD1
    
}

#spotBack {
    max-height: max-content;
}

div .spotSmall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0ECD1;
    color: #0a2233;
}

.spotSmall h3 {
    margin: 0.65em;
}

.spotSmall p {
    margin: 0.2em;
}

.spotSmall img {
    margin: 0.3em;
    width: 40%;
    box-shadow: 0px 0px 10px #0a2233;
}

footer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color:#0a2233;
    border: 1px solid black;
    color:#F0ECD1;
}

footer p {
    margin: 5px;
}

#map {
    text-decoration: none;
    color:#F0ECD1;
}

#join {
    display: none;
}

.spotLarge {
    display: none;
}